<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>WEB APPLICATION</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>info.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>article.jsp</welcome-file>
    <welcome-file>admin.jsp</welcome-file>
    <welcome-file>Userinfo.jsp</welcome-file>
    <welcome-file>articlepost.jsp</welcome-file>
    <welcome-file>delete.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logoutservlet</display-name>
    <servlet-name>Logoutservlet</servlet-name>
    <servlet-class>com.test.chat.Logoutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logoutservlet</servlet-name>
    <url-pattern>/Logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminservlet</display-name>
    <servlet-name>Adminservlet</servlet-name>
    <servlet-class>com.test.chat.Adminservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminservlet</servlet-name>
    <url-pattern>/Adminservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>com.test.chat.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registerservlet</display-name>
    <servlet-name>Registerservlet</servlet-name>
    <servlet-class>com.test.chat.Registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerservlet</servlet-name>
    <url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Articleservlet</display-name>
    <servlet-name>Articleservlet</servlet-name>
    <servlet-class>com.chatapplication.Servlet.Articleservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articleservlet</servlet-name>
    <url-pattern>/Articleservlet</url-pattern>
  </servlet-mapping>
</web-app>